<div class="modal-header">
  <h4 class="modal-title">{{candidate.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <div class="property">
      <h5 style="display: inline">CV:</h5>
      <p style="display: inline">{{candidate.cv}} TEST TEST TEST</p>
    </div>
    <div class="property">
      <h5>Available?</h5>
      <div *ngIf="candidate.available" class="circle available"></div>
      <div *ngIf="!candidate.available" class="circle not_available"></div>
    </div>
    <div class="property">
      <h5>Phase Notes</h5>
      <label>
        <textarea>{{phase.notes}}</textarea>
      </label>
    </div>
  </div>
  <div class="property">
    <h5>Phase Attributes</h5>
    <div *ngFor="let attribute of attributeTemplates" style="display: block">
      <label>{{attribute.name}}
        <input [type]="attribute.type" class="attribute">
      </label>
    </div>
  </div>
  <div>
    <a href="#">More about {{candidate.name}}</a>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
