.modal-body {
  display: flex;
  flex-direction: row;
}

.new-value {
  color: red;
}

.circle{
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.available {
  background-color: green;
}

.not_available {
  background-color: darkred;
}

textarea {
  vertical-align: top;
}

.bigger-text-area {
  width: 20em;
}

#label-block {
  display: block;
  margin-bottom: 5px;
}

.property {
  display: block;
  margin-top: 10px;
}

.attribute-info {
  margin-left: 50px;
}

.inline {
  display: inline;
  margin-right: 10px;
}

.click-box {
  width: fit-content;
}

#cv {
  color: dodgerblue;
  text-decoration: underline;
  cursor: pointer;
}
