<div class="modal-header" *ngIf="candidate">
  <h4 class="modal-title">{{candidate.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="candidate && process">
  <div class="property">
    <h5 style="display: inline">CV:</h5>
    <p style="display: inline">{{candidate.cv || 'cv.docx'}}</p>
  </div>
  <form [formGroup]="updateForm" (submit)="updateCandidate()">
    <div>
      <div class="property">
        <h5>Available?</h5>
        <div (click)="candidate.available = !candidate.available" class="click-box">
          <div *ngIf="candidate.available" class="circle available"></div>
          <div *ngIf="!candidate.available" class="circle not_available"></div>
        </div>
      </div>
      <div class="property">
        <h5 class="inline">Status:</h5>
        <label>
          <select formControlName="status">
            <option [selected]="true" [value]="process.status">{{process.status}}</option>
            <option *ngFor="let status of statusList" [value]="status">{{status}}</option>
          </select>
        </label>
      </div>
      <div class="property">
        <h5 class="inline">Unavailable Reason:</h5>
        <label>
          <select formControlName="unavailableReason">
            <option [selected]="true" [value]="process.unavailableReason">{{process.unavailableReason}}</option>
            <option *ngFor="let reason of reasons" [value]="reason">{{reason}}</option>
          </select>
        </label>
      </div>
      <div class="property">
        <h5>{{phase.phase}} Notes</h5>
        <label>
          <textarea formControlName="phaseNotes" name="phaseNotes" [ngModel]="phase.notes"></textarea>
        </label>
      </div>
    </div>
    <div class="property">
      <h5>{{phase.phase}} Attributes</h5>
      <div *ngFor="let attribute of attributeTemplates;" style="display: block">
        <label>{{attribute.name}}
          <input *ngIf="attribute.type !== 'number'" [type]="attribute.type" [value]="attribute.value" class="attribute"
                 [formControlName]="attribute.name">
          <input *ngIf="attribute.type === 'number'" [type]="attribute.type" [value]="attribute.value" class="attribute"
                 [formControlName]="attribute.name" min="0">
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary add">Update Candidate</button>
  </form>
  <div>
    <a [routerLink]="['/candidate/', candidate.id]"
       [state]="{requestId: requestId, candidateId: candidate.id}"
       (click)="activeModal.close('Close click')"
    >
      More about {{candidate.name}}</a>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
