.headers{
  display: block;
  float: left;
  margin-right: 20px;
}

.circle{
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.available{
  background-color: green;
}
.not_available{
  background-color: darkred;
}

.property {
  display: block;
  margin-top: 10px;
}

.attribute-info {
  margin-left: 50px;
}

.inline {
  display: inline;
  margin-right: 10px;
}

.click-box {
  width: fit-content;
}
