.profile {
  max-width: fit-content;
}

.general-margin {
  margin: 10px;
}

#filter-box {
  margin-left: 50px;
  display: inline;
}

#filter {
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline;
}

.mat-row:hover {
  background-color: lightgrey;
}

.card-body:hover {
  background-color: orangered;
}

.reset {
  display: inline;
}

#add {
  margin-top: 10px;
  display: block;
}

.table-title {
  margin-top: 20px;
}

.candidate_name{
  cursor: pointer;
}

.td {
  vertical-align: middle;
}

.assign {
  text-align: center;
}
