<div class="modal-header">
  <h4 class="modal-title">Add Candidates to {{request.description}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="filterForm" (submit)="filterCandidates()">
    <mat-form-field class="profile">
      <mat-label>Possible Profiles</mat-label>
      <mat-select formControlName="profiles" multiple>
        <mat-option *ngFor="let profile of profiles" [value]="profile">{{profile}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form-check form-check-inline" id="filter-box">
      <input class="form-check-input" type="checkbox" id="available" formControlName="available">
      <label class="form-check-label" for="available">
        Select Only Available
      </label>
    </div>
    <button type="submit" class="btn btn-primary" id="filter" style="display: block">Filter</button>
    <button id="resetRequestTable" class="btn btn-secondary reset-button reset" type="reset"
            (click)="resetForms()">Reset Filter
    </button>
  </form>
  <div class="mat-elevation-z8">
    <table [dataSource]="dataSource" mat-table>
      <caption style="display: none">Add Candidate</caption>
      <ng-container matColumnDef="Name">
        <th *matHeaderCellDef class="col-un-sm" mat-header-cell id="1"> Name</th>
        <td *matCellDef="let candidate" [routerLink]="['/candidates', candidate.id]"
            [state]="{candidateId: candidate.id}"
            class="col-un-sm"
            (click)="activeModal.close('Close click')"
            mat-cell> {{candidate.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Availability">
        <th *matHeaderCellDef class="col-un-sm" mat-header-cell id="2"> Availability</th>
        <td *matCellDef="let candidate" class="col-un-sm" mat-cell>
          <ngb-progressbar *ngIf="candidate.available" [showValue]="false" [value]="100"
                           type="success"></ngb-progressbar>
          <ngb-progressbar *ngIf="!candidate.available" [showValue]="false" [value]="100"
                           type="danger"></ngb-progressbar>
        </td>
      </ng-container>

      <ng-container matColumnDef="Assign">
        <th *matHeaderCellDef class="col-un-sm" mat-header-cell id="3"> Assign</th>
        <td *matCellDef="let candidate" class="col-un-sm assign td" mat-cell>
          <mat-checkbox
            (change)="onChange(candidate, $event)"
            (click)="$event.stopPropagation()"
            [checked]="isChecked(candidate)">
          </mat-checkbox>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

    <mat-paginator
      [length]="listSize"
      [pageIndex]="0"
      [pageSizeOptions]="[5, 10, 25, 50]"
      [pageSize]="DEFAULT_PAGE_SIZE"
      showFirstLastButtons>
    </mat-paginator>
  </div>
  <div *ngIf="checkedCandidates.length > 0">
    <div *ngFor="let candidate of checkedCandidates" class="card" style="width: 18rem;height: 3rem;margin-top: 0.5rem">
      <div (click)="removeCandidate(candidate)" class="card-body">
        <h6 class="card-title">{{candidate.name}}</h6>
      </div>
    </div>
    <button (click)="addCandidatesToRequest()" class="btn btn-primary general-margin" id="add">
      Add Candidates ({{checkedCandidates.length}})
    </button>
  </div>
  <a (click)="activeModal.close('Close click')" [routerLink]="['/create-candidate/']" class="general-margin">
    <h6>Create Candidate</h6>
  </a>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
