<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Hiring Dashboard</h1>
        <h3 class="mb-5">A Web Application to support the recruitment process of an IT business.</h3>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-xl-9 mx-auto">
              <button type="submit" class="btn btn-block btn-lg btn-primary"
                      [routerLinkActive]="['active']" [routerLink]="['/log-in']">Log In</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>
          <h3>Fully Responsive</h3>
          <p class="lead mb-0">Manage your requests on your computer, tablet or phone.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-grid m-auto text-primary"></i>
          </div>
          <h3>Interactive Kanban boards</h3>
          <p class="lead mb-0">View and edit ongoing job opportunities by interacting with a Kanban-styled board.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-chart m-auto text-primary"></i>
          </div>
          <h3>Overview Statistics</h3>
          <p class="lead mb-0">Quickly access the company's statistics.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<!--<footer class="footer bg-light">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">-->
<!--        <ul class="list-inline mb-2">-->
<!--          <li class="list-inline-item">-->
<!--            <a href="#">About</a>-->
<!--          </li>-->
<!--          <li class="list-inline-item">&sdot;</li>-->
<!--          <li class="list-inline-item">-->
<!--            <a href="#">Contact</a>-->
<!--          </li>-->
<!--          <li class="list-inline-item">&sdot;</li>-->
<!--          <li class="list-inline-item">-->
<!--            <a href="#">Terms of Use</a>-->
<!--          </li>-->
<!--          <li class="list-inline-item">&sdot;</li>-->
<!--          <li class="list-inline-item">-->
<!--            <a href="#">Privacy Policy</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2020. All Rights Reserved.</p>-->
<!--      </div>-->
<!--      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">-->
<!--        <ul class="list-inline mb-0">-->
<!--          <li class="list-inline-item mr-3">-->
<!--            <a href="#">-->
<!--              <i class="fab fa-facebook fa-2x fa-fw"></i>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="list-inline-item mr-3">-->
<!--            <a href="#">-->
<!--              <i class="fab fa-twitter-square fa-2x fa-fw"></i>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="list-inline-item">-->
<!--            <a href="#">-->
<!--              <i class="fab fa-instagram fa-2x fa-fw"></i>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
