#root {
  margin-left: 20px;
  margin-top: 20px;
}

#filter-box {
  margin-left: 50px;
  display: inline;
}

.mat-row:hover {
  background-color: lightgrey;
}

#profile {
  max-width: fit-content;
}

#filter {
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline;
}

#resetRequestTable {
  display: inline;
}

table {
  border-collapse: separate;
  border-spacing: 10px 10px;
}

.candidate_name {
  cursor: pointer;
}

.td {
  vertical-align: middle;
}

.assign {
  text-align: center;
}
