#root {
  margin: 15px;
}

#filter-box {
  margin-left: 50px;
  display: inline;
}

#profile {
  max-width: fit-content;
}

#filter {
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline;
}

#resetRequestTable {
  display: inline;
}

table {
  margin: 15px;
}

.candidate_name {
  cursor: pointer;
}

.td {
  vertical-align: middle;
}

.assign {
  text-align: center;
}

.mat-cell {
  padding: 15px;
  flex-grow: 1;
}

.mat-elevation-z8 {
  width: fit-content;
}
