<div class="root">
  <h2>Search candidates</h2>
  <div>
    <form (submit)="filterCandidates()" [formGroup]="filterForm">
      <mat-form-field class="profile">
        <mat-label>Possible Profiles</mat-label>
        <mat-select formControlName="profiles" multiple>
          <mat-option *ngFor="let profile of profiles" [value]="profile">{{profile}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="form-check form-check-inline filter-box">
        <input class="form-check-input" formControlName="available" id="available" type="checkbox">
        <label class="form-check-label" for="available">
          Select Only Available
        </label>
      </div>
      <button class="btn btn-primary filter" style="display: block" type="submit">Filter</button>
      <button (click)="fetchAllCandidates()" class="btn btn-secondary reset-button reset" id="resetRequestTable"
              type="reset">Reset Filter
      </button>
    </form>
  </div>
  <div>
    <table class="table-responsive-xl">
      <caption style="display: none">Candidates Table</caption>
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Available</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let candidate of candidates; index as i">
        <td [routerLink]="['/candidates/', candidate.id]"
            class="candidate_name td">
          {{candidate.name}}
        </td>
        <td class="td">
          <ngb-progressbar *ngIf="candidate.available" [showValue]="false" [value]="100"
                           type="success"></ngb-progressbar>
          <ngb-progressbar *ngIf="!candidate.available" [showValue]="false" [value]="100"
                           type="danger"></ngb-progressbar>
        </td>
      </tr>
    </table>
  </div>
</div>
