.root {
  height: 100%;
}

.form {
  padding-right: 10px;
}

.reset-button {
  float: right;
}

.filter-drawer {
  margin-right: 20px;
  margin-left: 10px;
  border-right: #888888;
  border-right-style: solid;
  border-width: 1px;
  min-height: fit-content;
  min-width: fit-content;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-bar {
  height: 2px;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-selection {
  background: dodgerblue;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto;
  /* to remove the default positioning */
  bottom: 0;
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:after {
  display: none;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-bubble {
  bottom: 14px;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-limit {
  font-weight: bold;
  color: dodgerblue;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  top: -1px;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
  background: dodgerblue;
}

