.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  flex-wrap: wrap;
  margin-left: 5px;
}

.form-group {
  flex-grow: 1;
  width: 250px;
  max-width: 290px;
  margin-right: 25px;
}

.custom-slider {
  flex-grow: 1;
  margin-right: 40px;
  max-width: 300px;
}

button {
  height: fit-content;
  margin-right: 10px;
}

.reset-button {
  float: right;
}

.filter-drawer {
  margin-right: 20px;
  margin-left: 10px;
  height: fit-content;
  width: fit-content;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-bar {
  height: 2px;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-selection {
  /*background: dodgerblue;*/
  background: rgb(244, 148, 4);
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto;
  /* to remove the default positioning */
  bottom: 0;
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:after {
  display: none;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-bubble {
  bottom: 14px;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-limit {
  font-weight: bold;
  /*color: dodgerblue;*/
  color: rgb(244, 148, 4);
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  top: -1px;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
  /*background: dodgerblue;*/
  background: rgb(244, 148, 4);
}

@media (max-width:640px) {

  .un-sm {
    display:none;
  }

  .col-un-sm{
    display:none;
  }

  .filter-drawer {
    margin-bottom: 10px;
  }

  .form-group {
    width: 320px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .un-md {
    display: none;
  }

  .col-un-md{
    display:none;
  }

  .form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }

  .form-group {
    flex-grow: 1;
    margin-right: 5px;
  }

  .custom-slider {
    flex-grow: 1;
    margin-right: 40px;
  }

  button {
    height: fit-content;
    margin-right: 10px;
  }
}
