<div class="table-responsive-xl">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Workflow</th>
      <th scope="col">Description</th>
      <th scope="col">Progress</th>
      <th scope="col">Project</th>
      <th scope="col">Quantity</th>
      <th scope="col">Request Date</th>
      <th scope="col">Skill</th>
      <th scope="col">CSL State</th>
      <th scope="col">State</th>
      <th scope="col">Target Date</th>
      <th scope="col">Profile</th>
      <th scope="col">Date To Send Profile</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let request of requests; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{request.workflow}}</td>
      <td>{{request.description}}</td>
      <td><ngb-progressbar type="dark" textType="white" [value]="request.progress" [showValue]="true"></ngb-progressbar></td>
      <td>{{request.project}}</td>
      <td>{{request.quantity}}</td>
      <td>{{request.requestDate}}</td>
      <td>{{request.skill}}</td>
      <td>{{request.stateCSL}}</td>
      <td>{{request.state}}</td>
      <td>{{request.targetDate}}</td>
      <td>{{request.profile}}</td>
      <td>{{request.dateToSendProfile || 'Not Defined'}}</td>
    </tr>
    </tbody>
  </table>
</div>
