<div class="table-responsive-xl d-flex flex-row root">
  <div class="p-2 filter-drawer">
    <h3>Filters</h3>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate class="form">
      <div class="form-group">
        <label for="inputSkill">Skill</label>
        <select class="custom-select" id="inputSkill" name="skill" #skill='ngModel' ngModel>
          <option selected value="">Choose a Skill</option>
          <option *ngFor="let skill of skills">{{skill}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="inputState">State</label>
        <select class="custom-select" id="inputState" name="state" #state='ngModel' ngModel>
          <option selected value="">Choose a State</option>
          <option *ngFor="let state of states">{{state}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="inputStateCsl">CSL State</label>
        <select class="custom-select" id="inputStateCsl" name="stateCsl" #stateCsl='ngModel' ngModel>
          <option selected value="">Choose a CSL State</option>
          <option *ngFor="let stateCsl of statesCsl">{{stateCsl}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="inputProject">Project</label>
        <select class="custom-select" id="inputProject" name="project" #project='ngModel' ngModel>
          <option selected value="">Choose a Project</option>
          <option *ngFor="let project of projects">{{project}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="inputProfile">Profile</label>
        <select class="custom-select" id="inputProfile" name="profile" #profile='ngModel' ngModel>
          <option selected value="">Choose a Profile</option>
          <option *ngFor="let profile of profiles">{{profile}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="inputWorkflow">Workflow</label>
        <select class="custom-select" id="inputWorkflow" name="workflow" #workflow='ngModel' ngModel>
          <option selected value="">Choose a Workflow</option>
          <option *ngFor="let workflow of workflows">{{workflow}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="inputTargetDate">Target Month</label>
        <select class="custom-select" id="inputTargetDate" name="targetDate" #targetDate='ngModel' ngModel>
          <option selected value="">Choose a Target Month</option>
          <option *ngFor="let month of targetDates">{{month}}</option>
        </select>
      </div>
      <div class="custom-slider">
        <label for="quantityBar">Quantity</label>
        <ng5-slider [(value)]="minValueQuantity" [(highValue)]="maxValueQuantity" [options]="optionsQuantity"
          id="quantityBar" name="quantity" #quantity='ngModel' ngModel></ng5-slider>
      </div>
      <div class="custom-slider">
        <label for="progressBar">Progress</label>
        <ng5-slider [(value)]="minValueProgress" [(highValue)]="maxValueProgress" [options]="optionsProgress"
          id="progressBar" name="progress" #progress='ngModel' ngModel></ng5-slider>
      </div>
      <button id="createRequestSubmit" class="btn btn-primary" type="submit">Filter</button>
      <button id="resetRequestTable" class="btn btn-secondary reset-button" (click)="getRequests()">Reset
        Filter</button>
    </form>
  </div>
  <table class="table table-hover p-2">
    <thead>
      <tr>
        <th scope="col">#</th>
<!--        <th scope="col"></th>-->
        <th scope="col">Workflow</th>
        <th scope="col">Description</th>
        <th scope="col">Progress</th>
        <th scope="col">Project</th>
        <th scope="col">Quantity</th>
        <th scope="col">Request Date</th>
        <th scope="col">Skill</th>
        <th scope="col">CSL State</th>
        <th scope="col">State</th>
        <th scope="col">Target Date</th>
        <th scope="col">Profile</th>
        <th scope="col">Date To Send Profile</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests; index as i"
          [routerLink]="['/request-detail', request.id]"
          [state]="{requestId: request.id}">
        <th scope="row">{{ i + 1 }}</th>
<!--        <td>-->
<!--          <button type="button" class="btn btn-primary"> More</button>-->
<!--        </td>-->
        <td>{{request.workflow}}</td>
        <td>{{request.description}}</td>
        <td>
          <ngb-progressbar type=" blue" textType="white" [value]="request.progress" [showValue]="true">
          </ngb-progressbar>
        </td>
        <td>{{request.project}}</td>
        <td>{{request.quantity}}</td>
        <td>{{request.requestDate}}</td>
        <td>{{request.skill}}</td>
        <td>{{request.stateCSL}}</td>
        <td>{{request.state}}</td>
        <td>{{request.targetDate}}</td>
        <td>{{request.profile}}</td>
        <td>{{request.dateToSendProfile || 'Not Defined'}}</td>
      </tr>
    </tbody>
  </table>
</div>
