<div id='Request-Detail'>
  <div class="container-fluid">
    <div *ngIf="properties.requestList">
      <div class='row'>
        <h2>{{properties.requestList.description}}</h2>
      </div>
      <div class="row">
        <div class='col'>
          <div id='Request'>
            <form [formGroup]="properties.updateForm" (submit)="onUpdate()">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h5>Workflow</h5>
                  <p>{{properties.requestList.workflow}}</p>
                </li>
                <li class="list-group-item">
                  <h5>Progress</h5>
                  <p>{{properties.requestList.progress}}%</p>
                </li>
                <li class="list-group-item">
                  <h5>Request Date</h5>
                  <p>{{properties.requestList.requestDate}}</p>
                </li>
                <li class="list-group-item">
                  <h5>State</h5>
                  <label>
                    <select formControlName="state">
                      <option [selected]="true"
                              [value]="properties.requestList.state">{{properties.requestList.state}}</option>
                      <option *ngFor="let state of getAvailableStates()" [value]="state">{{state}}</option>
                    </select>
                  </label>
                </li>
                <li class="list-group-item">
                  <h5>Project</h5>
                  <label>
                    <select formControlName="project">
                      <option [selected]="true"
                              [value]="properties.requestList.project">{{properties.requestList.project}}</option>
                      <option *ngFor="let project of getAvailableProjects()" [value]="project">{{project}}</option>
                    </select>
                  </label>
                </li>
                <li class="list-group-item">
                  <h5>Quantity</h5>
                  <label>
                    <input type="number" min="1" formControlName="quantity" [value]="properties.requestList.quantity">
                  </label>
                </li>
                <li class="list-group-item">
                  <h5>Skill Center</h5>
                  <label>
                    <select formControlName="skill">
                      <option [selected]="true"
                              [value]="properties.requestList.skill">{{properties.requestList.skill}}</option>
                      <option *ngFor="let skill of getAvailableSkills()" [value]="skill">{{skill}}</option>
                    </select>
                  </label>
                </li>
                <li class="list-group-item">
                  <h5>CSL State</h5>
                  <label>
                    <select formControlName="stateCsl">
                      <option [selected]="true"
                              [value]="properties.requestList.stateCSL">{{properties.requestList.stateCSL}}</option>
                      <option *ngFor="let state of getAvailableStatesCsl()" [value]="state">{{state}}</option>
                    </select>
                  </label>
                </li>
                <li class="list-group-item">
                  <h5>Target Date</h5>
                  <label>
                    <select formControlName="targetDate">
                      <option [selected]="true"
                              [value]="properties.requestList.targetDate">{{properties.requestList.targetDate}}</option>
                      <option *ngFor="let date of getAvailableTargetDates()" [value]="date">{{date}}</option>
                    </select>
                  </label>
                </li>
                <li class="list-group-item">
                  <h5>Profile</h5>
                  <label>
                    <select formControlName="profile">
                      <option [selected]="true"
                              [value]="properties.requestList.profile">{{properties.requestList.profile}}</option>
                      <option *ngFor="let profile of getAvailableProfiles()" [value]="profile">{{profile}}</option>
                    </select>
                  </label>
                </li>
                <li class="list-group-item">
                  <h5>Date To Send Profile</h5>
                  <label>
                    <input formControlName="dateToSendProfile" type="date"
                           [ngModel]="properties.requestList.dateToSendProfile"
                           [value]="properties.requestList.dateToSendProfile">
                  </label>
                </li>
                <li class="list-group-item" *ngIf="properties.mandatoryLanguages.length > 0">
                  <h5>Mandatory Languages</h5>
                  <ul>
                    <li *ngFor="let language of properties.mandatoryLanguages; index as idx">
                      <label>
                        <input type="checkbox" [(ngModel)]="language.checked"
                               [ngModelOptions]="{standalone: true}">
                      </label>
                      <p class="lang">{{language.language}}</p>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item" *ngIf="properties.valuedLanguages.length > 0">
                  <h5>Valued Languages</h5>
                  <ul>
                    <li *ngFor="let language of properties.valuedLanguages; index as idx">
                      <label>
                        <input type="checkbox" [(ngModel)]="language.checked"
                               [ngModelOptions]="{standalone: true}">
                      </label>
                      <p class="lang">{{language.language}}</p>
                    </li>
                  </ul>
                </li>
              </ul>
              <button type="submit" class="btn btn-primary add">Update Request</button>
            </form>
          </div>
        </div>
        <div class='col'>
          <div class='UserRoles'>
            <h3>Users</h3>
            <table class="table">
              <caption style="display: none">Request Info</caption>
              <thead>
              <tr>
                <th id="email">Email</th>
                <th id="role">Role</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of properties.userRoles">
                <td>
                  {{user.email}}
                </td>
                <td>
                  {{user.role}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <form [formGroup]="properties.userForm" (submit)="onSubmit()"
                *ngIf='authService.isTeamLeader()'>
            <table class="table-responsive-xl">
              <caption style="display: none">Available Candidates Table</caption>
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Assign</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of properties.users; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td class="td">
                  {{user.userEmail}}
                </td>
                <td class="form-check assign td">
                  <input class="form-check-input" type="checkbox" (change)="onChange(i, $event)">
                </td>
              </tr>
            </table>
            <button type="submit" class="btn btn-primary add">Add Recruiter</button>
          </form>
        </div>
        <div class='col'>
          <div class='Candidates'>
            <h3>Candidates</h3>
            <table class="table">
              <caption style="display: none">Candidates Info</caption>
              <thead>
              <tr>
                <th id="name">Name</th>
                <th id="status">Process Status</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let process of properties.processes"
                  [routerLink]="['/candidates/', process.candidateId]"
                  [state]="{requestId: properties.requestId, candidateId: process.candidateId}">
                <td>
                  {{process.candidateName}}
                </td>
                <td>
                  {{process.status}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
