.Request-Detail {
    margin: 10px;
}

.Request {
    margin: 10px;
}

.UserRoles {
    margin: 10px
}

.Candidates {
    margin: 10px
}

.Languages {
    margin: 10px;
}

.table {
    width: fit-content;
}