<div class='Request-Detail'>
    <h1>Request's Details</h1>
    <div class='Request'>
        <ul>
            <li>
                <h4>Description: {{requestList.description}}</h4>
            </li>
            <li>
                <h4>Workflow: {{requestList.workflow}}</h4>
            </li>
            <li>
                <h4>State: {{requestList.state}}</h4>
            </li>
            <li>
                <h4>Project: {{requestList.project}}</h4>
            </li>
            <li>
                <h4>Quantity: {{requestList.quantity}}</h4>
            </li>
            <li>
                <h4>Progress: {{requestList.progress}}%</h4>
            </li>
            <li>
                <h4>State CSL: {{requestList.stateCSL}}</h4>
            </li>
            <li>
                <h4>Skill: {{requestList.skill}}</h4>
            </li>
            <li>
                <h4>Profile : {{requestList.profile}}</h4>
            </li>
            <li>
                <h4>Date To Send Profile : {{requestList.dateToSendProfile}}</h4>
            </li>
            <li>
                <h4>Request Date : {{requestList.requestDate}}</h4>
            </li>
            <li>
                <h4>Target Date : {{requestList.targetDate}}</h4>
            </li>
        </ul>
    </div>
    <div class='UserRoles'>
        <h2>Stakeholders:</h2>
        <ul *ngFor="let userRole of userRoles">
            <li>
                <h3>{{userRole.userName}}</h3>
            </li>
        </ul>
    </div>
    <div class='Candidates'>
        <h2>Candidates: </h2>
        <ul *ngFor="let candidate of candidates">
            <li>
                <h3>{{candidate.name}}</h3>
            </li>
        </ul>
    </div>
</div>