<div class='Request-Detail'>
    <div class="container-fluid">
        <div class="row">
            <div class='Request'>
                <h3>Request</h3>
                <table class="table table-hover">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td *ngFor="let name of properties.requestAttrs">
                                <h5>{{name}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td *ngFor="let name of properties.requestAttrs">
                                <div *ngIf='name === "progress"'>
                                    {{properties.requestList[name]}}%
                                </div>
                                <div *ngIf='name !== "progress"'>
                                    {{properties.requestList[name]}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class='row'>
            <div class='col-sm'>
                <div class='Languages'>
                    <h5>Languages</h5>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Language</th>
                                <th>Mandatory</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let language of properties.languages">
                                <td>
                                    {{language.language}}
                                </td>
                                <td>
                                    {{language.isMandatory}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class='col-sm'>
                <div class='UserRoles'>
                    <h3>Users</h3>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of properties.userRoles">
                                <td>
                                    {{user.username}}
                                </td>
                                <td>
                                    {{user.role}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class='col-sm'>
                <div class='Candidates'>
                    <h3>Candidates</h3>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Process Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let process of properties.processes" [routerLink]="['/candidate/', process.candidateId]"
                                [state]="{requestId: properties.requestId, candidateId: process.candidateId}">
                                <td>
                                    {{process.candidateName}}
                                </td>
                                <td>
                                    {{process.status}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>