@import '~bootstrap/dist/css/bootstrap.css';

body {
  width: 100%;
}

.router-outlet {
  transform: translateY(70px);
}

.app-alert {
  position: fixed;
  transform: translateY(70px);
  z-index: 99999;
}

.navbar {
  position: -webkit-sticky; /* Safari */
  top: 0;
}

.navbar-icon {
  max-height: 70px;
  max-width: 70px;
  width: auto;
  height: auto;
  margin-right: 20px;
}
