<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Gfi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a [routerLinkActive]="['is-active']" [routerLink]="['']" class="nav-item nav-link">Home</a>
        <a [routerLinkActive]="['is-active']" [routerLink]="['/board']" class="nav-item nav-link">Board</a>
        <a [routerLinkActive]="['is-active']" [routerLink]="['/create-request']" class="nav-item nav-link">Create
          Request</a>
        <a [routerLinkActive]="['is-active']" [routerLink]="['/all-requests']" class="nav-item nav-link">All
          Requests</a>
        <a [routerLinkActive]="['is-active']" [routerLink]="['/sign-up']" class="nav-item nav-link">Sign Up</a>
        <a [routerLinkActive]="['is-active']" [routerLink]="['/log-in']" class="nav-item nav-link">Log In</a>
        <a [routerLinkActive]="['is-active']" [routerLink]="['/logout']" class="nav-item nav-link">Log Out</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
