<div class="root">
  <div class="board table-responsive-xl">
    <div *ngFor="let workflow of properties.workflows">
      <table #tableContainer>
        <tr>
          <th [colSpan]=workflow.phases.length>
            <div><h2>{{workflow.workflow}}</h2></div>
          </th>
        </tr>
        <tr>
          <td *ngFor="let phase of workflow.phases"><h3 class="phase">{{phase.name}}</h3></td>
        </tr>
      </table>
      <table *ngFor="let request of workflow.requests" [width]="tableContainer.offsetWidth">
        <tr class="swim-lane" [routerLink]="['/request-detail', request.id]">
          <td>
            <h5>{{request.description}}</h5>
          </td>
          <td [colSpan]=workflow.phases.length-1 class="fraction-row">
            <h5 class="fraction">Placed: {{properties.placedCandidates}}/{{request.quantity}}</h5>
          </td>
        </tr>
        <tr cdkDropListGroup>
          <td class="tasks-container"
              cdkDropList
              [width]="tableContainer.offsetWidth/request.phases.length"
              *ngFor="let phase of request.phases; index as i"
              [cdkDropListData]="phase.candidates"
              (cdkDropListDropped)="drop($event, request.id, phase.name)">
            <div class="task" *ngFor="let candidate of phase.candidates"
                 [cdkDragData]="candidate"
                 cdkDrag
                 (click)="onClick(candidate.id, request.id, phase.name)">{{ candidate.name }}</div>
            <div class="hidden-task" *ngIf="i==0" (click)="addCandidate(request.id)">
              <div class="hidden-text"><span>...</span></div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>

