.root {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: beige;
}

.board {
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}

.full-table {
  padding: 25px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  width: fit-content;
  margin: 25px 30px 50px;
}

.workflow-header {
  background-color: rgb(82, 255, 184);
  border-top-right-radius: 20px;
  padding-left: 10px;
}

.phase{
  width: 150px;
  margin-right: 20px;
}

.title-data {
  border-bottom-left-radius: 20px;
}

.swim-lane {
  background-color: rgb(82, 255, 184);
  vertical-align: middle;
}

.swim-lane-title {
  margin-left: 10px;
}

.fraction-data {
  border-top-right-radius: 20px;
  vertical-align: middle;
}

.swim-lane-fraction {
  float: right;
  margin-right: 10px;
}

.tasks-container {
  min-height: 60px;
  overflow-y: auto;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.task {
  display: flex;
  padding: 15px 12px;
  background: rgb(250, 235, 201);
  border-bottom: solid 1px #ddd;
  border-radius: 4px;
  margin-top: 15px;
  margin-right: 15px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05), 0 3px 14px 2px rgba(0, 0, 0, 0.05);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.hidden-task {
  visibility: visible;
  display: block;
  background: rgba(213, 203, 188, 0.39);
  border-radius: 4px;
  margin-top: 15px;
  margin-right: 15px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05), 0 3px 14px 2px rgba(0, 0, 0, 0.05);
}

.hidden-text:hover span {
  margin-left: 15px;
  display: none;
}

.hidden-text:hover:before {
  content: 'Add Candidate';
}

.hidden-task:hover > .hidden-text {
  visibility: visible;
  display: block;
  padding: 15px 12px;
  background: rgb(213, 203, 188);
  border-radius: 4px;
  margin-top: 15px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05), 0 3px 14px 2px rgba(0, 0, 0, 0.05);
}

td {
  vertical-align: top;
}
