<div class="root">
  <div class="board">
    <!--    <div class="swim-lane">Request 1</div>-->
    <!--    <div class="board-wrapper">-->
    <!--            <div class="board-columns" cdkDropListGroup>-->
    <!--              <div class="board-column" *ngFor="let column of board.columns">-->
    <!--                <div class="column-title">-->
    <!--                  {{ column.name }}-->
    <!--                </div>-->
    <!--                <div class="tasks-container"-->
    <!--                     cdkDropList-->
    <!--                     [cdkDropListData]="column.candidates"-->
    <!--                     (cdkDropListDropped)="drop($event)"-->
    <!--                >-->
    <!--                  <div class="task" *ngFor="let item of column.candidates" cdkDrag (click)="onClick(item)">-->
    <!--                    {{ item.name }}-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <table>
      <tr>
        <th colspan="2">
          <div class="workflow" (click)="hide()">WORKFLOW A</div>
        </th>
      </tr>
      <tr [hidden]="hidden">
        <td><h3>FASE 1</h3></td>
        <td><h3>FASE 2</h3></td>
      </tr>
      <tr class="swim-lane" [hidden]="hidden">
        <td colspan="2" (click)="toggleRow(0)">
          <h5>SWIM LANE</h5>
        </td>
      </tr>
      <tr cdkDropListGroup [hidden]="board.columns[0].hidden || hidden">
        <td class="tasks-container"
            cdkDropList
            [cdkDropListData]="board.columns[0].candidates"
            (cdkDropListDropped)="drop($event)">
          <div class="task" *ngFor="let item of board.columns[0].candidates" cdkDrag (click)="onClick(item)">{{ item.name }}</div>
        </td>
        <td class="tasks-container"
            cdkDropList
            [cdkDropListData]="board.columns[1].candidates"
            (cdkDropListDropped)="drop($event)">
          <div class="task" *ngFor="let item of board.columns[1].candidates" cdkDrag (click)="onClick(item)">{{ item.name }}</div>
        </td>
      </tr>
      <tr class="swim-lane" [hidden]="hidden">
        <td colspan="2" (click)="toggleRow(1)">
          <h5>SWIM LANE</h5>
        </td>
      </tr>
      <tr cdkDropListGroup [hidden]="board.columns[1].hidden || hidden">
        <td class="tasks-container"
            cdkDropList
            [cdkDropListData]="board.columns[2].candidates"
            (cdkDropListDropped)="drop($event)">
          <div class="task" *ngFor="let item of board.columns[2].candidates" cdkDrag (click)="onClick(item)">{{ item.name }}</div>
        </td>
        <td class="tasks-container"
            cdkDropList
            [cdkDropListData]="board.columns[3].candidates"
            (cdkDropListDropped)="drop($event)">
          <div class="task" *ngFor="let item of board.columns[3].candidates" cdkDrag (click)="onClick(item)">{{ item.name }}</div>
          <div class="task">+</div>
        </td>
      </tr>
    </table>


<!--    <table *ngFor="let workflow in board.workflows">-->
<!--      <tr>-->
<!--        <th [colSpan]= workflow.phases.length>-->
<!--          <div class="workflow">{{workflow.name}}</div>-->
<!--        </th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td *ngFor="let phase in workflow.phases"><h3>{{phase.name}}</h3></td>-->
<!--      </tr>-->
<!--      <tr class="swim-lane" *ngFor="let request in workflow.requests">-->
<!--        <td [colSpan]= workflow.phases.length>-->
<!--          <h5>{{request.name}}</h5>-->
<!--        </td>-->
<!--      </tr>-->
<!--      <tr cdkDropListGroup *ngFor="let request in workflow.request">-->
<!--        <td class="tasks-container"-->
<!--            cdkDropList-->
<!--            *ngFor="let phase in request.phase"-->
<!--            [cdkDropListData]="phase.candidates"-->
<!--            (cdkDropListDropped)="drop($event)">-->
<!--          <div class="task" *ngFor="let candidate of phase.candidate" cdkDrag (click)="onClick(candidate)">{{ candidate.name }}</div>-->
<!--        </td>-->
<!--      </tr>-->
<!--    </table>-->
  </div>

</div>

