#root {
  width: 100%;
}

.new-value {
  color: red;
}

.new-value-cv {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.cv {
  color: dodgerblue;
  text-decoration: underline;
  cursor: pointer;
}

.outdated-cv {
  color: dodgerblue;
}

.mat-select-trigger {
  min-width: 80vw;
}

.mat-select-panel {
  max-height: 80vh !important;
}

.property {
  margin-top: 10px;
  margin-bottom: 10px;
}

#box {
  width: fit-content;
  flex-direction: column;
  min-width: 0;
}

#props, .procs {
  background-color: rgb(235, 235, 235);
  border-radius: 15px;
  padding: 10px;
  width: auto;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.attribute {
  margin-right: 10px;
}

.attribute-info {
  display: block;
}


.inline {
  display: inline;
  margin-right: 10px;
}

#current {
  color: black;
}

.older {
  margin-top: 20px;
  color: #7b7b7b;
}

.older:hover {
  color: black;
}

.circle{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.available{
  background-color: green;
}
.not_available{
  background-color: darkred;
}

#click-box {
  width: fit-content;
}

.end-row {
  border-bottom: #7b7b7b solid 1px;
}

table {
  margin-top: 20px;
}

td {
  vertical-align: text-top;
}

.custom-file {
  display: block;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  max-width: 15rem;
}

.custom-file-label {
  min-width: 0;
  max-width: 15rem;
}

#file-label {
  font-style: italic;
}

.profileTable {
  background-color: rgb(215, 215, 215);
  border-radius: 15px;
  padding: 10px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-collapse: separate;
}

.td {
  vertical-align: middle;
}

.assign {
  text-align: center;
}

#info {
  max-width: 20em;
}

.updateCandidateSubmit {
  margin-right: 5px;
  margin-bottom: 5px;
}
