<div id='root'>
  <h1>Create Request</h1>
  <form [formGroup]="properties.form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputDescription">Description</label>
        <input required formControlName="description" class="form-control"
          id="inputDescription" placeholder="Request's Description" type="text">
      </div>
      <div class="form-group col-md-4">
        <label for="inputQuantity">Quantity</label>
        <div>
          <input required formControlName="quantity" type="number" class="form-control"
            value="1" min="1" id="inputQuantity" placeholder="Request's Quantity">
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputSkill">Skill Center</label>
        <select required formControlName="skill" class="custom-select" id="inputSkill">
          <option selected disabled value="">Choose a Skill Center</option>
          <option *ngFor="let skill of properties.skills">{{skill}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputProject">Project</label>
        <select required formControlName="project" class="custom-select" id="inputProject">
          <option selected disabled value="">Choose a Project</option>
          <option *ngFor="let project of properties.projects">{{project}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputProfile">Profile</label>
        <select required formControlName="profile" class="custom-select" id="inputProfile">
          <option selected disabled value="">Choose a Profile</option>
          <option *ngFor="let profile of properties.profiles">{{profile}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputWorkflow">Workflow</label>
        <select required formControlName="workflow" class="custom-select" id="inputWorkflow">
          <option selected disabled value="">Choose a Workflow</option>
          <option *ngFor="let workflow of properties.workflows">{{workflow}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputMandatoryLanguage" id="inputMandatoryLanguage">Select the Mandatory Languages</label>
        <ul class="checkbox-items">
          <li *ngFor="let language of properties.languages; index as idx">
            <input type="checkbox" name="mandatoryItem" (change)="onChange(true, idx, $event)">{{language}}
          </li>
        </ul>
      </div>
      <div class="form-group col-md-4">
        <label for="inputValuedLanguages" id="inputValuedLanguages">Select the Valued Languages</label>
        <ul class="checkbox-items">
          <li *ngFor="let language of properties.languages; index as idx">
            <input type="checkbox" name="valuedItem" (change)="onChange(false, idx, $event)">{{language}}
          </li>
        </ul>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputTargetDate">Target Month</label>
        <select required formControlName="targetDate" class="custom-select"
          id="inputTargetDate">
          <option selected disabled value="">Choose a Target Month</option>
          <option *ngFor="let month of properties.targetDates">{{month}}</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="inputDateToSendProf" id="inputDateToSendProf">Date to send Profile</label>
        <input formControlName="dateToSendProfile" class="form-control" type="date"
          id="inputDateToSendProfile">
      </div>
    </div>
    <button id="createRequestSubmit" class="btn btn-primary">Submit Request</button>
  </form>
</div>
