.container {
  margin-left: 20px;
  margin-top: 10px;
}

input{
  max-width: fit-content;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
