.root {
  margin-left: 20px;
  margin-top: 10px;
  background-color: #ffffff;
}

input {
  max-width: fit-content;
}

textarea {
  max-width: 400px;
}

#file-label {
  margin-right: 10px;
  font-style: italic;
}
