<div class="root">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input [(ngModel)]="candidateName" class="form-control" id="name"
             name="name"
             required type="text">
    </div>
    <div class="form-group">
      <label for="file">Choose Candidate CV</label>
      <input (change)="handleFileInput($event.target.files)"
             id="file"
             required
             type="file">
    </div>
    <button class="btn btn-primary" id="createCandidateSubmit">Create Candidate</button>
  </form>
</div>

